.contenedor {
    display: block;
    flex-direction: column;
    width: 15%;
    align-items: center;
    /* align-items: flex-end; */
    /* gap: 0.5rem; */
}

.contenedor2 {
     display: flex;
 /*   position: absolute;
    flex-direction: row; */
    background-color: red;
    
}

.item {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    font-size: 2rem;
    border: 1px solid black;
    justify-content: center;
    padding: 0.9rem;
    /* flex-wrap: wrap; */ 
    width: 100px;
    height: 100px;

}

.item4 {
    background-color: aqua;
    align-items: flex-end;
    /* height: 50%; */
}